.container-center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CD3C32;
    padding: 0 12px;
}

.login {
    background-color: #FFFFFF;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-area{
    background-color: #FFE9E8;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-area img{
    padding: 20px;
}

form{
    margin-top: 1.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

form h1{
    text-align: center;
    margin-bottom: 3rem;
    color: #CD3C32;
}

.login input{
    margin-bottom: 1rem;
    height: 30px;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    background-color: #FFE9E8;
    font-size: 15px;
}

form button{
    height: 34px;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: #CD3C32;
    color: #FFFFFF;
    font-size: 15px;
}

.login a{
    text-decoration: none;
    margin: 1.5rem 0;
    cursor: pointer;
    color: #CD3C32;
}